[Unit]
Description=pagekite server start
After=network-online.target 

[Service]
ExecStart=/usr/bin/python3 /home/pi/Desktop/walle/pagekite.py 5000 edithbanchhor.pagekite.me
WorkingDirectory=/home/pi/Desktop/walle
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=network-online.target